# Игнорирование ненужных файлов и папок
.env
commands.txt
*.db
*.exe
*.zip
myenv/
bot.log

# Игнорирование всех скрытых файлов и папок в домашней директории пользователя
../../../.*

# Исключение для рабочей директории проекта
!PycharmProjects/Bilag'on/botbilag'on/
